<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Oxford Psychedelic Society</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css2?display=swap&family=Quicksand:ital,wght@0,400;0,700;1,400;1,700&family=Oxygen:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ '/styles.css' | with_hash(backlink) }}"></head>
</head>
<body class="fadein">
    <canvas id="glcanvas"></canvas>
    <script type="text/javascript" src="{{ '/static/js/renderer.js' | with_hash(backlink) }}"></script>

    <header class="pre-navbar">
        <!-- Logo -->
        <div class="logo">
            <a href="{{ '/' | linkup(backlink) }}"><img src="{{ '/static/img/about/ops_logo.png' | linkup(backlink) }}" height="40px"></img></a>
            <!-- Hamburger icon -->
            <input class="side-menu" type="checkbox" id="side-menu"/>
            <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
        </div>
        <!-- Menu -->
        <ul class="navbar">
            {% for link, title in navbar %}
            <li>
            <a class="button" href="{{ link | linkup(backlink) }}" onclick="document.getElementById('side-menu').checked = false">{{ title }}</a>
            </li>
            {% endfor %}
        </ul>
    </header>

    <div class="root">
        <div class="pre-content">
            <div class="content">
                {{ content | markdown(backlink) }}
            </div>
        </div>
    </div>
</body>
    <script type="text/javascript">
        document.body.classList.remove('fadein');
        document.body.classList.add('hidden');
        window.addEventListener('load', function () {
            document.body.classList.add('fadein');
            document.body.classList.remove('hidden');
        });
    </script>
</html>

